// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$jumbotron-bg: #c02424;
$jumbotron-heading-color: #ffffff;

@import "bootstrap";

#googleSI {
    height: 100%;
}

#facebookSI {
    max-width: 64px;
}

#twitterSI {
    max-width: 64px;
}

.btn-sign-in {
    padding: 0;
}

.btn-group-sign-in {
    max-width:100%;
    max-height:100%;
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:center;
    height: auto;
}

