// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$jumbotron-bg: #c02424;
$jumbotron-heading-color: #ffffff;

@import "bootstrap";

.google {
    height: 100%;
    width:69%;
}

.facebook {
    max-width: 64px;
    width:15.5%;
}

.twitter {
    max-width: 64px;
    width:15.5%;
}

.google, .facebook, .twitter {
    border-radius: 0;
}

#main-container {
    max-width:500px;
    min-width: 320px;
}

#btn-sign-up {
    vertical-align: text-bottom; 
    text-align:right; 
    margin:auto;
    max-width:470px;
    font-size: 10px;
}

#btn-sign-up button {
    font-size: 10px; 
    border-radius:0px;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

.social-media {
    margin-top:10px;
}

#btn-group-social-signup {
    margin:auto; 
    text-align: center;
    margin-bottom: 5px;
}

#btn-group-social-signup .btn-group {
    width:100%; 
    max-width:360px;
}


#btn-group-social-login {
    margin:auto; 
    text-align: center;
}

#btn-group-social-login .btn-group {
    width:100%; 
    max-width:360px;
}

#signup-form {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #928d86;
}


.login-actions {
    text-align:right;
}

.btn-sign-in {
    padding: 0;
}

.btn-group-sign-in {
    max-width:100%;
    max-height:100%;
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:center;
    height: auto;
}

