// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$jumbotron-bg: #c02424;
$jumbotron-heading-color: #ffffff;

@import "bootstrap";

.tbl-options-header {
    text-align: center;
}